<link rel="stylesheet" href="/css/logout.css">
<script src="js/auth.js"></script>
<script src="/js/logout.js"></script>
<div id="accountContainerId" class="account-container">
  <div class="account-field-container">
    <span id="userNameFieldId" class="user-name-field"></span>
    <br/>
    <span id="timeFieldId" class="time-field">time</span>
  </div>
  <button type='button' id="logoutBtnId" class="btn btn-primary">Logout</button>
</div>
