<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <%- include('inc/main_scripts') %>
  </head>
  <body>
    <%- include('inc/nav_bar') %>
    <div class="container">
      <h1><%= title %></h1>
      <table class="table table-hover">
        <thead><tr><th>Id</th><th>Name</th><th>Brand</th></tr></thead>
        <tbody id="itemListContainerId"></tbody>
      </table>
      <div class="card">
        <div class="card-header">Add food</div>
        <div class="card-block">
          <form action="/api/foods" id="addFormId">
            <div class="form-group">
              <label><b>Name</b></label>
              <input type="text" class="form-control" placeholder="Enter Username" name="name" required>
            </div>
            <div class="form-group">
              <label><b>Brand</b></label>
              <input type="text" class="form-control" placeholder="Enter brand" name="brand" required>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    var apiUrl = 'http://localhost:3030/api/foods';

    $(()=>{
      ajaxLoadingOn();
      $.getJSON( apiUrl)
      .done(function(data) {
        populateTable(data);
        ajaxLoadingOff();
      })
      .fail(handleError);

      $('#addFormId').submit(function(event) {
        event.preventDefault();
        $.post(apiUrl, $(this).serialize())
        .done(function(data) {
          populateTable(data);
        })
        .fail(handleError);
      });
    });

    function populateTable(list) {
      $('#itemListContainerId').empty();
      // $('#userListContainerId').append(
      //   '<thead><tr><th>Id</th><th>Name</th></tr></thead>'
      // );
      list.forEach((e) => {
        $('#itemListContainerId').append(
          '<tr><th scope="row">' + e._id + '</th>' +
          '<td>' + e.name + '</td>' +
          '<td>' + e.brand + '</td>' + 
          '</tr>'
        );
      });
    };
  </script>
</html>
