<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('inc/main_css') %>
    <link rel='stylesheet' href='/css/login.css' />
  </head>
  <body>
    <div class="login-form-container">
      <form action="http://localhost:3030/auth/signin" id="loginFormId">
        <div class="imgcontainer">
          <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <button type="submit">Login</button>
          <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
  </body>
  <%- include('inc/main_scripts') %>
  <script>
    $('#loginFormId').submit(function(event) {
      event.preventDefault();
      $.post(this.action, $(this).serialize())
        .done(function(data) {
          console.log('Return data: ', data);
          localStorage.setItem('myapp-access-token', JSON.stringify(data));
          window.location.href = '/users';
        })
        .fail(function(err) {
          console.log('Error: ', err);
        });
    });
  </script>
</html>
