<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <%- include('inc/main_scripts') %>
  </head>
  <body>
    <%- include('inc/logout') %>
    <h1><%= title %></h1>
    <table id="userListContainerId">
    </table>
    <div class="add-user-container">
      <form action="/users" id="addUserFormId">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Add" >
      </form>
    </div>
  </body>
  <script>
    var userUrl = 'http://localhost:3030/api/users';

    $(()=>{
      $.getJSON( userUrl)
      .done(function(data) {
        poputateUserTable(data);
      })
      .fail(function(err) {
        console.log(err);
      });

      $('#addUserFormId').submit(function(event) {
        event.preventDefault();
        $.post(userUrl, $(this).serialize())
        .done(function(data) {
          poputateUserTable(data);
        })
        .fail(function(err) {
          console.log(err);
        });
      });
    });

    function poputateUserTable(list) {
      $('#userListContainerId').empty();
      list.forEach((e) => {
        $('#userListContainerId').append(
          '<tr><td>' + e._id + '</td><td>' + e.username + '</td></tr>'
        );
      });
    };
  </script>
</html>
